Repository navrotskyi-aleksandr/angular-architecture: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --files, nx format:write --files, npx stylelint

chore: added workspace CD
  nx.json
Due: nx format:write --files

chore: added nvm
  README.md
  package.json
Due: nx format:write --files

chore: added nvm
  .nvmrc
Due: nx format:write --files

chore: added CD Coalescing
  apps/app-a/src/app/app.config.ts
Due: nx affected:lint --files, nx format:write --files

chore: added GZIP Compression
  apps/app-a/server.ts
  package.json
  pnpm-lock.yaml
Due: nx affected:lint --files, nx format:write --files

chore: added font optimisation
  apps/app-a/src/app/app.component.html
  apps/app-a/src/index.html
  apps/app-a/src/styles.scss
Due: nx format:write --files, npx stylelint

chore: fixed fonts
  apps/app-a/src/index.html
  apps/app-a/src/styles.scss
Due: nx format:write --files, npx stylelint

chore: added purgecss
  .npmrc
  package.json
  pnpm-lock.yaml
  purgecss.config.js
  scripts/postbuild.js
Due: nx format:write --files

chore: preloaded latin fonts with mat icon
  apps/app-a/src/index.html
  purgecss.config.js
Due: nx format:write --files

chore: added angular prettier
  .prettierrc
  apps/app-a/src/app/app.component.html
  package.json
  pnpm-lock.yaml
Due: nx format:write --files

chore: added angular prettier
  apps/app-a/src/app/app.component.html
Due: nx format:write --files

chore: castomized tailwind
  .prettierrc
  .stylelintrc.json
  apps/app-a/src/index.html
  apps/app-a/src/scss/base/_index.scss
  apps/app-a/src/scss/base/_tailwind.scss
  apps/app-a/src/scss/main.scss
  apps/app-a/src/styles.scss
  apps/app-a/tailwind.config.js
  apps/app-b/.eslintrc.json
  apps/app-b/jest.config.ts
  apps/app-b/project.json
  apps/app-b/server.ts
  apps/app-b/src/app/app.component.html
  apps/app-b/src/app/app.component.spec.ts
  apps/app-b/src/app/app.component.ts
  apps/app-b/src/app/app.config.server.ts
  apps/app-b/src/app/app.config.ts
  apps/app-b/src/app/app.routes.ts
  apps/app-b/src/assets/.gitkeep
  apps/app-b/src/favicon.ico
  apps/app-b/src/index.html
  apps/app-b/src/main.server.ts
  apps/app-b/src/main.ts
  apps/app-b/src/scss/base/_index.scss
  apps/app-b/src/scss/base/_tailwind.scss
  apps/app-b/src/scss/main.scss
  apps/app-b/src/test-setup.ts
  apps/app-b/tailwind.config.js
  apps/app-b/tsconfig.app.json
  apps/app-b/tsconfig.editor.json
  apps/app-b/tsconfig.json
  apps/app-b/tsconfig.spec.json
  libs/tailwind-preset/project.json
  libs/tailwind-preset/tailwind.config.js
  nx.json
  package.json
  pnpm-lock.yaml
Due: nx affected:lint --files, nx format:write --files, npx stylelint

chore: added jest tresholds
  .eslintrc.json
  apps/app-a/project.json
  apps/app-a/src/app/app.component.spec.ts
  apps/app-b/project.json
  apps/app-b/src/app/app.component.ts
  jest.preset.js
Due: nx affected:lint --files, nx format:write --files

chore: added jest tresholds
  apps/app-a/src/app/app.facade.spec.ts
Due: nx affected:lint --files, nx format:write --files

chore: added tailwind classes for purgeCss
  purgecss.config.js
Due: nx format:write --files

chore: storybook init
  .eslintrc.json
  .gitignore
  libs/app-a/ui/.eslintrc.json
  libs/app-a/ui/README.md
  libs/app-a/ui/jest.config.ts
  libs/app-a/ui/project.json
  libs/app-a/ui/src/index.ts
  libs/app-a/ui/src/lib/button/button.component.html
  libs/app-a/ui/src/lib/button/button.component.stories.ts
  libs/app-a/ui/src/lib/button/button.component.ts
  libs/app-a/ui/src/test-setup.ts
  libs/app-a/ui/tsconfig.json
  libs/app-a/ui/tsconfig.lib.json
  libs/app-a/ui/tsconfig.spec.json
  libs/storybook-app-a/.eslintignore
  libs/storybook-app-a/.eslintrc.json
  libs/storybook-app-a/.storybook/main.ts
  libs/storybook-app-a/.storybook/preview.ts
  libs/storybook-app-a/.storybook/tsconfig.json
  libs/storybook-app-a/README.md
  libs/storybook-app-a/jest.config.ts
  libs/storybook-app-a/project.json
  libs/storybook-app-a/src/index.ts
  libs/storybook-app-a/src/test-setup.ts
  libs/storybook-app-a/tsconfig.json
  libs/storybook-app-a/tsconfig.lib.json
  libs/storybook-app-a/tsconfig.spec.json
  nx.json
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: nx affected:lint --files, nx format:write --files

chore: updated readme
  README.md
Due: nx format:write --files

chore: added button to app-a
  apps/app-a/src/app/app.component.html
  apps/app-a/src/app/app.component.ts
  libs/app-a/ui/src/index.ts
  libs/app-a/ui/src/lib/button/button.component.html
  libs/app-a/ui/src/lib/button/button.component.stories.ts
  libs/app-a/ui/src/lib/button/index.ts
  libs/tailwind-preset/tailwind.config.js
Due: nx affected:lint --files, nx format:write --files

chore: tailwind + storybook
  apps/app-a/tailwind.config.js
  apps/app-b/tailwind.config.js
  libs/app-a/ui/project.json
  libs/storybook-app-a/project.json
  libs/storybook-app-a/tailwind.config.js
  libs/tailwind-preset/tailwind.config.js
Due: nx format:write --files

chore: fixed tailwind preset
  apps/app-a/tailwind.config.js
  libs/storybook-app-a/tailwind.config.js
  libs/tailwind-preset/tailwind.config.js
Due: nx format:write --files

chore: added app b example storybook
  apps/app-a/tailwind.config.js
  apps/app-b/src/app/app.component.html
  apps/app-b/src/app/app.component.ts
  libs/app-a/tailwind/project.json
  libs/app-a/tailwind/tailwind.config.js
  libs/app-b/tailwind/project.json
  libs/app-b/tailwind/tailwind.config.js
  libs/app-b/ui/.eslintrc.json
  libs/app-b/ui/README.md
  libs/app-b/ui/jest.config.ts
  libs/app-b/ui/project.json
  libs/app-b/ui/src/index.ts
  libs/app-b/ui/src/lib/button/button.component.html
  libs/app-b/ui/src/lib/button/button.component.stories.ts
  libs/app-b/ui/src/lib/button/button.component.ts
  libs/app-b/ui/src/lib/button/index.ts
  libs/app-b/ui/src/test-setup.ts
  libs/app-b/ui/tsconfig.json
  libs/app-b/ui/tsconfig.lib.json
  libs/app-b/ui/tsconfig.spec.json
  libs/storybook-app-b/.eslintignore
  libs/storybook-app-b/.eslintrc.json
  libs/storybook-app-b/.storybook/main.ts
  libs/storybook-app-b/.storybook/preview.ts
  libs/storybook-app-b/.storybook/tsconfig.json
  libs/storybook-app-b/README.md
  libs/storybook-app-b/jest.config.ts
  libs/storybook-app-b/project.json
  libs/storybook-app-b/src/index.ts
  libs/storybook-app-b/src/test-setup.ts
  libs/storybook-app-b/tailwind.config.js
  libs/storybook-app-b/tsconfig.json
  libs/storybook-app-b/tsconfig.lib.json
  libs/storybook-app-b/tsconfig.spec.json
  libs/tailwind-preset/tailwind.config.js
  tsconfig.base.json
Due: nx affected:lint --files, nx format:write --files

chore: added storybook to app-b
  apps/app-a/src/index.html
  apps/app-b/src/index.html
  apps/app-b/src/scss/main.scss
  libs/app-a/tailwind/tailwind.config.js
  libs/app-b/tailwind/tailwind.config.js
  libs/app-b/ui/src/lib/button/button.component.html
  libs/storybook-app-a/.storybook/main.ts
  libs/storybook-app-a/.storybook/preview-head.html
  libs/storybook-app-a/.storybook/preview.ts
  libs/storybook-app-b/.storybook/main.ts
  libs/storybook-app-b/.storybook/preview-head.html
  libs/storybook-app-b/.storybook/preview.ts
  libs/tailwind-preset/tailwind.config.js
Due: nx affected:lint --files, nx format:write --files, npx stylelint

chore: updated nx
  .eslintrc.json
  .gitignore
  .prettierignore
  migrations.json
  package.json
  pnpm-lock.yaml
Due: nx format:write --files

chore: drop react
  package.json
  pnpm-lock.yaml
Due: nx format:write --files

chore: updated storybook
  libs/app-a/ui/src/lib/button/button.component.stories.ts
  libs/app-b/ui/src/lib/button/button.component.stories.ts
  libs/storybook-app-a/.storybook/main.ts
  libs/storybook-app-b/.storybook/main.ts
  package.json
  pnpm-lock.yaml
Due: nx affected:lint --files, nx format:write --files

chore: addon a11y addon
  libs/app-a/ui/src/lib/button/button.component.stories.ts
  libs/app-b/ui/src/lib/button/button.component.stories.ts
  libs/storybook-app-a/.storybook/main.ts
  libs/storybook-app-b/.storybook/main.ts
  package.json
  pnpm-lock.yaml
Due: nx affected:lint --files, nx format:write --files

chore: test
  package.json
Due: nx format:write --files

chore: updated husky
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  package.json
Due: nx format:write --files

chore: drop facade
  apps/app-a/src/app/app.facade.spec.ts
Due: nx affected:lint --files, nx format:write --files

chore: added isolated modules
  README.md
  tsconfig.base.json
Due: nx format:write --files

chore: updated nx
  .nvmrc
  jest.config.ts
  libs/storybook-app-a/.storybook/main.ts
  libs/storybook-app-b/.storybook/main.ts
  migrations.json
  package.json
  pnpm-lock.yaml
Due: nx affected:lint --files, nx format:write --files

chore: updated nx
  doctor-storybook.log
  storybook-migration-summary.md
Due: nx format:write --files

chore: flat eslint
  .eslintignore
  .eslintrc.json
  apps/app-a/.eslintrc.json
  apps/app-a/eslint.config.js
  apps/app-a/jest.config.ts
  apps/app-a/server.ts
  apps/app-b/.eslintrc.json
  apps/app-b/eslint.config.js
  apps/app-b/jest.config.ts
  apps/app-b/server.ts
  apps/app-b/src/main.ts
  eslint.config.js
  libs/app-a/ui/.eslintrc.json
  libs/app-a/ui/eslint.config.js
  libs/app-a/ui/jest.config.ts
  libs/app-a/ui/src/lib/button/button.component.stories.ts
  libs/app-b/ui/.eslintrc.json
  libs/app-b/ui/eslint.config.js
  libs/app-b/ui/jest.config.ts
  libs/app-b/ui/src/lib/button/button.component.stories.ts
  libs/storybook-app-a/.eslintignore
  libs/storybook-app-a/.eslintrc.json
  libs/storybook-app-a/eslint.config.js
  libs/storybook-app-b/.eslintignore
  libs/storybook-app-b/.eslintrc.json
  libs/storybook-app-b/eslint.config.js
  package.json
  pnpm-lock.yaml
Due: nx affected:lint --files, nx format:write --files

Path conditions:
  nx affected:lint --files: any of: *.ts
  nx format:write --files: any of: *
  npx stylelint: any of: *.scss
